//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "/home/arkboi/.config/rofi/themes/PinkTheme.rasi"
