/* Solarized Color Scheme */
@define-color color0  #002b36;
@define-color color1  #dc322f;
@define-color color2  #859900;
@define-color color3  #b58900;
@define-color color4  #268bd2;
@define-color color5  #d33682;
@define-color color6  #2aa198;
@define-color color7  #eee8d5;
@define-color color8  #073642;
@define-color color9  #cb4b16;
@define-color color10 #586e75;
@define-color color11 #657b83;
@define-color color12 #839496;
@define-color color13 #6c71c4;
@define-color color14 #93a1a1;
@define-color color15 #fdf6e3;


/* Nord Color Scheme */
/*  @define-color color0  #2e3440; */
/* @define-color color1  #bf616a; */
/* @define-color color2  #a3be8c; */
/* @define-color color3  #ebcb8b; */
/* @define-color color4  #81a1c1; */
/* @define-color color5  #b48ead; */
/* @define-color color6  #88c0d0; */
/* @define-color color7  #e5e9f0; */
/* @define-color color8  #4c566a; */
/* @define-color color9  #d08770; */
/* @define-color color10 #434c5e; */
/* @define-color color11 #3b4252; */
/* @define-color color12 #d8dee9; */
/* @define-color color13 #5e81ac; */
/* @define-color color14 #eceff4; */
/* @define-color color15 #8fbcbb; */



* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Font Awesome 6 Free";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: @color14;
    margin: 2px;
    border-radius: 6px;
}

#workspaces button:hover {
    background: rgba(0, 43, 54, 0.5);
    box-shadow: inherit;
}

#workspaces button.active {
    background-color: @color4;
    color: @color0;
}

#workspaces button.urgent {
    background-color: @color1;
    color: @color0;
}

#mode {
    background-color: @color8;
    color: @color15;
    border-radius: 6px;
    margin: 0 5px;
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-media,
#custom-scripts,
#tray {
    padding: 0 10px;
    margin: 0 5px;
    color: @color15;
    background-color: @color8;
    border-radius: 6px;
}

#battery.charging, #battery.plugged {
    color: @color0;
    background-color: @color2;
}

#battery.critical:not(.charging) {
    background-color: @color1;
    color: @color0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color15;
        color: @color1;
    }
}

#temperature.critical {
    background-color: @color1;
    color: @color0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color9;
}

#custom-media {
    background-color: @color6;
    color: @color0;
}

#clock, #custom-scripts {
    background-color: @color6;
    color: @color0;
    font-weight: bold;
}

#workspaces {
    margin: 0 5px;
}

tooltip {
    background-color: @color0;
    border: 1px solid @color14;
}

tooltip label {
    color: @color14;
}
